.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.login-container h1{
  color: #fff;
}

.login-btn {
  background-color: rgb(152, 66, 13);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover{
  background-color: #3C3735;
}

.login-btn-block {
  width: 100%;
}

.reg-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #888;
}
