.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
  
  h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
  }
  
img {
    float:left;
    width: 28%;
    height: 300px;
    margin: 2%;
}
h3 {
    float:right;
}

/* *{
    box-sizing: border-box;
} */

p {
    font-size: 17px;
  }
  

.box {
    float: left;
    width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 50px; /* if you want space between the images */
}

            .leftbox {
                float:left;
                text-align: center;
                background:lightblue;
                width:25%;
                height:30px;
            }
            .middlebox{
                float:left;
                background: rgba(255, 255, 255, 0.8);
                width:63%;
                height:300px;
                margin: 2%;
                padding: 2.5%;
            }

            .rightbox{
                float:right;
                background:blue;
                width:25%;
                height:280px;
            }

.first{
                width: 35%;
                height: 70px;
                background-color: rgba(255, 255, 255, 0.8);
                margin: 1%;
                padding: 1%;
                float: left;
 }
            
            .mid{
                
                    width: 27%;
                    height: 70px;
                    background-color: rgba(255, 255, 255, 0.8);
                    margin: 1%;
                    padding: 1%;
                    float: left;
                
            }

            .second{
                width: 32%;
                height: 70px;
                background-color: rgba(255, 255, 255, 0.8);
                margin: 1%;
                padding: 1%;
                float: right;
            }


            /* for the display of grid */            
            
            .grid-container {
                display: grid;
                grid-template-columns: auto auto;
                background-color: #6c7277;
                padding: 10px;
                text-align: center;
                margin: 2%;
              }
              
              .grid-item {
                background-color: rgba(255, 255, 255, 0.8);
                padding: 20px;
                font-size: 30px;
                text-align: center;
              }

