.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 95%;
    height: auto;
    object-fit: cover;
  }
  
  .card-body {
    flex-grow: 1;
    padding: 10px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }

  
  .spro-btn {
    margin-top: auto;
  }
  